<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Merupakan sebuah aplikasi pencarian restoran"
    />
    <meta name="theme-color" content="#3CCF4E" />
    <link rel="apple-touch-icon" href="./icons/icon-192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Hunger Apps</title>
  </head>
  <body>
    <app-bar></app-bar>
    <jumbotron-bar></jumbotron-bar>
    <main tabindex="-1" id="mainContent"></main>
    <footer-bar></footer-bar>
  </body>
</html>
